.footer-wrapper {
  padding-bottom: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #FFF;
  padding-bottom: 2px;
}

.footer-links a:first-child {
  text-decoration: none;
  margin-left: 0px;
}


@media only screen and (max-width: 900px) and (min-width: 0px) {
  .footer-links a {
    display: block;
    margin: 20px 0px 0px 0px;
  }

}